@font-face {
    font-family: container;
    src: url(./font/vazir-font-v16.1.0/Vazir-Bold.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: container;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}
.conections{
    position: absolute;
    padding: 10px;
    top: 350px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    margin-top: 60px;
}
#output_conection{
    color: #fdcb6e;
    font-size: 1.2em;
    position: absolute;
    bottom: 100px;
    left: 25px;
    margin: auto;
}
i{
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid black;
    background-color: #fdcb6e;
    transition: 0.4s;
}
#email:active , #telegram:active , #number:active{
    padding:15px;
    margin: 5px;
    background-color: #de9000;
}
.container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 450px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px #444;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#menu , #close_menu{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fdcb6e;
    box-shadow: 0px 0px 20px #fdcb6e;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
}
#close_menu{
    padding: 10px 13px;
    display: none;
}
#menu:hover{
    transform: rotate(-30deg);
}
.hover{
    background-color: rgba(0, 0, 0, 0.796);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    display: none;
}
p{
    margin: 20px 20px;
    direction: ltr;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid aqua;
    letter-spacing: 1px;
}